MONGO_ROOT_USERNAME=hotel_admin
MONGO_ROOT_PASSWORD=hotel_local_password
MONGO_DATABASE=hotel_booking

MONGO_PORT=27017
REDIS_PORT=6379

MONGODB_URI=mongodb://hotel_admin:hotel_local_password@localhost:27017/hotel_booking?authSource=admin
REDIS_URL=redis://localhost:6379